* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: relative;
}

body:has(dialog[open]) {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
  transition: all 200ms ease;

  padding: 12px;
  background: #000;
  color: #fff;
  border-radius: 10px;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 64px;
  padding: 12px clamp(1.25rem, 0.4891rem + 4.3478vw, 3.75rem);
  display: flex;
  /* align-items: center; */
  font-size: 14px;
  gap: 2rem;
  color: #5e5e5e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;

  > nav {
    display: none;
    gap: 20px;
  
    a:hover {
      text-decoration: underline;
    }  
  }

  img {
    height: 100%;
  }

  img.white {
    display: none;
  }
}

.header.active {
  background-color: #000;

  img.black {
    display: none;
  }
  img.white {
    display: block;
  }
  
  a, .menu-icon, .menu-close {
    color: white;
  }

  .menu-content a {
    color: #000;
  }

}

.menu-cb:checked ~ .header-menu > nav {
  display: flex;
}

@media screen and (min-width: 650px) {
  .header-menu {
    display: none !important;
  }

  header {
    align-items: center;
    height: 80px;
    font-size: 18px;
}

  header > nav {
    display: flex;
  }
}

.header-menu {
  padding: 0 20px;
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 20px;

  > nav {
    flex-direction: column;
    display: flex;
    justify-content: start;
    height: 0;
    overflow: hidden;
    background: #fff;
    gap: 12px;
  }

  input:checked ~ .menu-content {
    height: fit-content;
    padding: 12px;
  }

  input:checked ~ .menu-icon {
    opacity: 0;
    height: 0;
  }

  input:checked ~ .menu-close {
    opacity: 1;
  }
}

.menu-cb {
  display: none;
}

.menu-icon, .menu-close {
  color: #000;
  cursor: pointer;
  margin-left: auto;
  opacity: 1;
}

.menu-close {
  opacity: 0;
}


dialog {
  width: 90%;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px 20px;
  border-radius: 12px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  h1 {
    margin: 10px 0 !important;
    margin-top: 0 !important;
    text-align: left !important;
  }

  b {
    font-weight: 600;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 18px;
  }
}

.text-lg {
  font-size: clamp(1rem, 0.6196rem + 2.1739vw, 2.25rem);
}

.text-md {
  font-size: clamp(0.875rem, 0.850rem + 0.96vw, 1.25rem);
}

.text-sm {
  font-size: clamp(0.8rem, 0.78rem + 0.7vw, 1.125rem);
}

.hero-section {
  width: 100%;
  height: 460px;
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
  display: flex;
  justify-content: start;
}

.hero-container {
  backdrop-filter: brightness(0.3);
  width: 100%;
  height: 460px;
  padding: clamp(1.25rem, 0.4891rem + 4.3478vw, 3.75rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
  text-align: left;
  color: #fff;

  button {
    background-color: #fff;
    color: #000;
    font-size: clamp(0.875rem, 0.7609rem + 0.6522vw, 1.25rem);
    padding: 14px 24px; 
    font-weight: 600;
  }
}

.hero-title {
  font-weight: bold;
  color: #fff;
}

.image-section {
  width: 100%;
  height: 500px;
  padding: clamp(1.25rem, 0.4891rem + 4.3478vw, 3.75rem) 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;


  .text-wrapper {
    width: 50%;
    flex: 1;
    padding: 5% 0;

    h1, p, div {
      padding: 0 clamp(1.25rem, 0.4891rem + 4.3478vw, 3.75rem);
    }
  }

  img {
    flex: 1;
    width: 50%;
    max-height: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: right top;
  }
}


.section {
  width: 100%;
  padding-bottom: 60px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 60px auto;
    text-align: center;
  }
}

#servicos {
  padding-bottom: 0 !important;
  .text-wrapper {
    background-color: rgb(210, 174, 109);
    width: 100%;
    padding: 30px 20%;
    min-width: 300px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    gap: 20px;


    button {
      font-weight: bold;
      background-color: #fff;
      color: #000;
    }
  }
}

.servicos-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.servico-card {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  gap: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  h3 {
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;;
  }

  button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.05);  
    color: #5e5e5e;
    margin-left: auto;
    margin-top: auto;
    font-weight: 600;
    line-height: 50%;
  }
}


#recomendacoes {
  background-color: #fff;
}

.indicacoes-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.indicacao-card {
  flex: 1;
  min-width: 280px;
  padding: 20px 40px 40px 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  h3 {
    font-weight: 500;
  }

  .user-container {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 32px;
      height: 32px;
      padding: 4px;
      border-radius: 100%;
      border: 1px solid;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 0;
    }
  }
}

#quem-somos {
  color: #000;
  min-height: 600px;
  background-color: rgb(210, 174, 109);

  justify-content: center;
  align-items: center;

  p {
    width: 90%;
    max-width: 1000px;
    text-align: justify;
  }
}

.faq-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0px 10px 0 48px;
  display: block;
  cursor: pointer;
  font-weight: 500;
}

.panel-content {
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  color: #000;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  pointer-events: none;
  z-index: 5;
  /* font-size: 24px; */
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

#contatos {
  background-color: #fff;
  color: #000;
  padding: 0;
  flex-wrap: wrap-reverse;

  button {
    background-color: #25d366;
    margin-top: 20px;
    font-weight: bold;
    a {
      color: #fff;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

footer {
  background-color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  padding: 60px;
  gap: 30px;

  img {
    width: 120px;
  }


  nav, ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    a {
      color: #fff;
    }
    a:hover {
      text-decoration: underline;
    }  
  }

  ul {
    list-style: none;
  }

  li > a {
    width: 48px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9)
    }

    img {
      width: 100%;
    }
  }
}


@media screen and (min-width: 650px) {
  .servicos-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .servico-card {
    /* width: 280px; */
    height: 100%;
    flex-direction: column;
    padding: 20px 40px 20px 40px;

    h3 {
      text-align: center;
    }
  }

  .indicacao-card {
    min-width: 320px;
  }

  .faq-wrapper {
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
  }
}

@media screen and (min-width: 995px) {
  .servicos-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1000px;
    backdrop-filter: none;
  }
}

@media screen and (max-width: 800px) {
  .image-section {
    align-items: center;
    flex-direction: row;
    height: fit-content;
    img {
      width: 100%;
      /* height: fit-content; */
    }
    .text-wrapper {
      width: 100%;
    }
  }
}